In [4]:
import os
import pandas as pd
import numpy as np

In [5]:
tickers = 'IR001 0050 0056 00737 1108 1101 1102 1103 6243 6451 1216 1301 1303 1326 1402 1476 1590 1605 1722 1802 2002 2105 2201 2207 2227 2301 2939 4108 4148 6431 6541 6657 2883 2891 2543 2929 2303 6505 9926 2308 2311 2317 2324 2325 2327 2330 2347 2353 2354 2357 2379 2382 2395 2408 2409 2412 2448 2454 2474 2492 2498 2603 2609 2615 2618 2633 2801 2823 2880 2881 2882 2883 2884 2885 2886 2887 2888 2890 2891 2892 2912 3008 3009 3034 3037 3045 3231 3474 3481 3673 3697 3711 4904 4938 5854 5871 5876 5880 6239 6415 6505 6669 6770 8046 8454 9904 9910'
print("總共有 :",len(tickers.split()),"筆資料")

總共有 : 107 筆資料

In [6]:
os.environ["TEJAPI_BASE"] = 'https://api.tej.com.tw'
os.environ['TEJAPI_KEY'] = "YOUR KEY"

os.environ['ticker'] = tickers
os.environ['mdate'] = '20000103 20230530'

!zipline ingest -b tquant

Merging daily equity files:

[2024-05-08 15:32:33.117616] INFO: zipline.data.bundles.core: Ingesting tquant.

In [7]:
columns = ['Sales_Growth_Rate','Gross_Margin_Growth_Rate', 'Operating_Income_Growth_Rate', 
           'Pre_Tax_Income_Growth_Rate','Net_Income_Growth_Rate',
           'Industry_Eng','Industry', 'roi', 'YoY_Monthly_Sales','mktcap']

In [8]:
os.environ['fields'] = " ".join(columns)
!zipline ingest -b fundamentals

[2024-05-08 15:36:19.936656] INFO: zipline.data.bundles.core: Ingesting fundamentals.

In [9]:
## update 前
from zipline.data.data_portal import get_fundamentals
df = get_fundamentals()
print('股票池為:',df['symbol'].unique())
print('起始日:',df['date'].min())
print('結束日:',df['date'].max())
print('欄位:',df.columns)

股票池為: ['0050' '0056' '00737' '1101' '1102' '1103' '1108' '1216' '1301' '1303'
 '1326' '1402' '1476' '1590' '1605' '1722' '1802' '2002' '2105' '2201'
 '2207' '2227' '2301' '2303' '2308' '2317' '2324' '2327' '2330' '2347'
 '2353' '2354' '2357' '2379' '2382' '2395' '2408' '2409' '2412' '2448'
 '2454' '2474' '2492' '2498' '2543' '2603' '2609' '2615' '2618' '2633'
 '2801' '2823' '2880' '2881' '2882' '2883' '2884' '2885' '2886' '2887'
 '2888' '2890' '2891' '2892' '2912' '2929' '2939' '3008' '3034' '3037'
 '3045' '3231' '3481' '3673' '3711' '4108' '4148' '4904' '4938' '5871'
 '5876' '5880' '6239' '6243' '6415' '6431' '6451' '6505' '6541' '6669'
 '6770' '8046' '8454' '9904' '9910' '9926']
起始日: 2021-01-04 00:00:00
結束日: 2023-05-30 00:00:00
欄位: Index(['symbol', 'date', 'Industry_Eng', 'Industry', 'Market_Cap_Dollars',
       'ROI', 'mon_sales_date', 'YoY_Monthly_Sales',
       'Net_Income_Growth_Rate_A', 'Net_Income_Growth_Rate_Q',
       'Net_Income_Growth_Rate_TTM', 'Operating_Income_Growth_Rate_A',
       'Operating_Income_Growth_Rate_Q', 'Operating_Income_Growth_Rate_TTM',
       'Gross_Margin_Growth_Rate_A', 'Gross_Margin_Growth_Rate_Q',
       'Gross_Margin_Growth_Rate_TTM', 'Sales_Growth_Rate_A',
       'Sales_Growth_Rate_Q', 'Sales_Growth_Rate_TTM', 'fin_date',
       'Pre_Tax_Income_Growth_Rate_A', 'Pre_Tax_Income_Growth_Rate_Q',
       'Pre_Tax_Income_Growth_Rate_TTM'],
      dtype='object')

In [10]:
df

,symbol,date,Industry_Eng,Industry,Market_Cap_Dollars,ROI,mon_sales_date,YoY_Monthly_Sales,Net_Income_Growth_Rate_A,Net_Income_Growth_Rate_Q,...,Gross_Margin_Growth_Rate_A,Gross_Margin_Growth_Rate_Q,Gross_Margin_Growth_Rate_TTM,Sales_Growth_Rate_A,Sales_Growth_Rate_Q,Sales_Growth_Rate_TTM,fin_date,Pre_Tax_Income_Growth_Rate_A,Pre_Tax_Income_Growth_Rate_Q,Pre_Tax_Income_Growth_Rate_TTM
0,0050,2021-01-04 00:00:00,,,1.175729e+11,1.7178,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
1,0050,2021-01-05 00:00:00,,,1.178093e+11,0.2010,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
2,0050,2021-01-06 00:00:00,,,1.190857e+11,1.0835,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
3,0050,2021-01-07 00:00:00,,,1.216816e+11,2.3422,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
4,0050,2021-01-08 00:00:00,,,1.209664e+11,1.7843,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54723,9926,2023-05-24 00:00:00,"M9700 Oil Gas, and Electricity",M9700 油電燃氣業,9.603468e+09,-0.9259,2023-05-09 00:00:00,1.13,4.13,4.13,...,2.49,2.49,2.8,1.85,1.85,3.6,2023-03-01 00:00:00,3.66,3.66,2.3
54724,9926,2023-05-25 00:00:00,"M9700 Oil Gas, and Electricity",M9700 油電燃氣業,9.549617e+09,-0.5607,2023-05-09 00:00:00,1.13,4.13,4.13,...,2.49,2.49,2.8,1.85,1.85,3.6,2023-03-01 00:00:00,3.66,3.66,2.3
54725,9926,2023-05-26 00:00:00,"M9700 Oil Gas, and Electricity",M9700 油電燃氣業,9.567567e+09,0.1880,2023-05-09 00:00:00,1.13,4.13,4.13,...,2.49,2.49,2.8,1.85,1.85,3.6,2023-03-01 00:00:00,3.66,3.66,2.3
54726,9926,2023-05-29 00:00:00,"M9700 Oil Gas, and Electricity",M9700 油電燃氣業,9.585518e+09,0.1876,2023-05-09 00:00:00,1.13,4.13,4.13,...,2.49,2.49,2.8,1.85,1.85,3.6,2023-03-01 00:00:00,3.66,3.66,2.3
54727,9926,2023-05-30 00:00:00,"M9700 Oil Gas, and Electricity",M9700 油電燃氣業,9.567567e+09,-0.1873,2023-05-09 00:00:00,1.13,4.13,4.13,...,2.49,2.49,2.8,1.85,1.85,3.6,2023-03-01 00:00:00,3.66,3.66,2.3