從TEJ 或 Yahoo Finance 挑10檔股票，下載2020-2023年後的日資料，分別存成csv檔 (如2330.csv)，上傳到GitHub
利用迴圈或函式下載小組成員GitHub上所有的股票
將執行後的.ipynb檔上傳到GitHub，將連結貼在TronClass 4/18作




業區

(1) 以下為迴圈的寫法，為簡單起見，只抓取 "2330.TW", "2317.TW", "2454.TW" 三檔股票

In [1]:
import yfinance as yf

list = ["2330.TW", "2317.TW", "2454.TW"]

for i in list:
    df = yf.download(i,"2020-01-01", "2023-12-31")
    df.to_csv("d:\\fin_data\\"+ i +".csv")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

(2) 以下為函式寫法，先定義自己的函示，再呼叫

In [3]:
def download_yf(i):
    df = yf.download(i,"2020-01-01", "2023-12-31")
    df.to_csv("d:\\fin_data\\"+ i +".csv")

In [4]:
download_yf("2330.TW")
download_yf("2317.TW")
download_yf("2454.TW")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed





以上為從Yahoo Finance下載個股資訊，假如我們將資料上傳到 GitHub 上，使用者名稱為fju155447 資料夾名稱為fin_data


0)

(1)以下為迴圈下載GitHub資料的寫法

In [5]:
import pandas as pd


list = ["2330.TW", "2317.TW", "2454.TW"]

for i in list:
    url = "https://raw.githubusercontent.com/fju155447/fin_data/main/"+i +".csv"
    df = pd.read_csv(url, index_col=0)
    display(df.head(5)) #顯示讀進來的資料表前五列以方便檢視

             Open   High    Low  Close   Adj Close    Volume
Date
2020-01-02  332.5  339.0  332.5  339.0  308.986359  31754120
2020-01-03  344.0  345.0  335.5  339.5  309.442047  41811268
2020-01-06  333.0  334.5  332.0  332.0  302.606049  45343057
2020-01-07  332.5  333.0  326.5  329.5  300.327393  50879181
2020-01-08  325.0  333.0  325.0  329.5  300.327393  37567748

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  91.000000  91.500000  90.300003  90.800003  75.553642  20758722
2020-01-03  91.400002  92.199997  90.800003  91.599998  76.219315  37936877
2020-01-06  91.099998  91.099998  90.099998  90.500000  75.304016  26352522
2020-01-07  90.500000  91.000000  88.300003  89.099998  74.139099  42728140
2020-01-08  87.900002  88.099998  86.500000  86.500000  71.975670  56101121

             Open   High    Low  Close   Adj Close    Volume
Date
2020-01-02  445.0  446.0  440.5  441.5  333.562164   6237434
2020-01-03  445.0  445.5  423.0  434.5  328.273499  12375266
2020-01-06  428.0  431.5  424.0  424.0  320.340576   8448516
2020-01-07  428.0  431.0  418.0  426.0  321.851593  11707155
2020-01-08  426.0  436.5  424.0  430.5  325.251465   9695448

(2) 以下為函式寫法，先定義自己的函示，再呼叫

In [6]:
def download_github(i):
    url = "https://raw.githubusercontent.com/fju155447/fin_data/main/"+i +".csv"
    df = pd.read_csv(url, index_col=0)
    display(df.head(5)) #顯示讀進來的資料表前五列以方便檢視

In [7]:
download_github("2330.TW")
download_github("2317.TW")
download_github("2454.TW")

             Open   High    Low  Close   Adj Close    Volume
Date
2020-01-02  332.5  339.0  332.5  339.0  308.986359  31754120
2020-01-03  344.0  345.0  335.5  339.5  309.442047  41811268
2020-01-06  333.0  334.5  332.0  332.0  302.606049  45343057
2020-01-07  332.5  333.0  326.5  329.5  300.327393  50879181
2020-01-08  325.0  333.0  325.0  329.5  300.327393  37567748

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  91.000000  91.500000  90.300003  90.800003  75.553642  20758722
2020-01-03  91.400002  92.199997  90.800003  91.599998  76.219315  37936877
2020-01-06  91.099998  91.099998  90.099998  90.500000  75.304016  26352522
2020-01-07  90.500000  91.000000  88.300003  89.099998  74.139099  42728140
2020-01-08  87.900002  88.099998  86.500000  86.500000  71.975670  56101121

             Open   High    Low  Close   Adj Close    Volume
Date
2020-01-02  445.0  446.0  440.5  441.5  333.562164   6237434
2020-01-03  445.0  445.5  423.0  434.5  328.273499  12375266
2020-01-06  428.0  431.5  424.0  424.0  320.340576   8448516
2020-01-07  428.0  431.0  418.0  426.0  321.851593  11707155
2020-01-08  426.0  436.5  424.0  430.5  325.251465   9695448